body {
    background-color: rgb(46, 43, 43);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

#info {
    background: linear-gradient(144deg, rgba(0, 0, 0, 0.2), #4e4b4b);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

h6:hover {
    color: red;
}

.card {
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.2), #4e4b4b);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 30px;
    margin-top: 20px;
    height: auto;
    text-align: center;
}

.card p, .card h1, .card h2 {
    color: whitesmoke;
    margin: 0;
}

.card p {
    font-size: 1.2rem;
}

.card h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.card h2 {
    font-size: 1.5rem;
}

.card span {
    color: red;
}

img {
    background: linear-gradient(145deg, #c6c5c5, #4e4b4b);
    box-shadow: 0 4px 8px rgba(2, 2, 2, 0.2);
    margin-top: 25px;
    border-radius: 10px;
    border: 4px solid rgb(47, 45, 45);
    max-width: 100%;
}

.icons {
    text-align: center;
    margin-top: 20px;
}

.icons i {
    font-size: 2rem;
    margin: 0 10px;
    color: white;
    transition: color 0.3s;
}

.icons a:hover i {
    color: red;
}

footer {
    padding: 20px;
    background: linear-gradient(145deg, #4e4b4b, #c6c5c5);
    color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

footer a {
    color: #ddd;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

table, td, tr {
    color: white;
}

 #table{
    margin: auto;
    background-color: #1c1c1c;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(145deg, #4e4b4b ,#151414);
}